{
    "env": {
        "node": true,
        "commonjs": true
    },
    "extends": [
        "@akashic/eslint-config",
        "prettier"
    ],
    "parserOptions": {
        "project": "tsconfig.eslint.json",
        "sourceType": "module"
    },
    "ignorePatterns": [
        "*.js",
        "**/*.d.ts"
    ],
    "rules": {
        "@typescript-eslint/no-var-requires": 0
    }
}
